<div id="footer">
    <div id="link-section">
        <div id="usefulLinks">
            <h2>Useful Links</h2>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/quiz/explore">Explore</a></li>
                <li><a href="/quiz/new">Create Quiz</a></li>
            </ul>
        </div>
        
        <div id="legalLinks">
            <h2>Legal Links</h2>
            <ul>
                <li><a href="/about#tos">Terms of Service</a></li>
                <li><a href="/about#privacy">Privacy Policy</a></li>
                <li><a href="/about#cookie">Cookie Policy</a></li>
                <li><a href="/about#disclaimer">Disclaimer</a></li>
            </ul>
        </div>
        
        <div id="contact">
            <h2>Contact Us</h2>
            <ul>
                <li>28,Model Town, Noida</li>
                <li>Contact no: 9843174325</li>
            </ul>
        </div>
        
        <div id="social-section">
            <h2>Follow Us</h2>
            <ul class="socialIcons">
                <li><a href="https://www.instagram.com/codsoft_official/"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="https://www.linkedin.com/company/codsoft/"><i class="fa-brands fa-linkedin-in"></i></a></li>
                <li><a href="#"><i class="fa-regular fa-envelope"></i></a></li>
                <li><a href="https://t.me/codsoftt"><i class="fa-brands fa-telegram"></i></a></li>
            </ul>
        </div>
    </div>
    <p>@2024 QuizQuest | All Rights Reserved</p>
</div>